<div class="container-fluid">
    <form [formGroup]="productForm">
      <div class="form-group">
        <label for="productname">Название <span class="red_star">*</span></label>
        <input
          type="text"
          class="form-control"
          id="productname"
          placeholder="Введите название..."
          formControlName="name"
        />
      </div>
      <div class="form-group">
        <label for="productarticle">Артикул <span class="red_star">*</span></label>
        <input
          type="text"
          class="form-control"
          id="productarticle"
          placeholder="Введите артикул товара..."
          formControlName="article"
        />
      </div>
      <div class="form-group">
        <label for="productprice">Цена <span class="red_star">*</span></label>
        <input
          type="number"
          class="form-control"
          id="productprice"
          placeholder="Введите цену..."
          formControlName="price"
        />
      </div>
      <div class="form-group">
        <label for="productbrand">Производитель</label>
        <input
          type="text"
          class="form-control"
          id="productbrand"
          placeholder="Введите производителя..."
          formControlName="brand"
        />
      </div>
      <div class="form-group">
        <label for="productcategory">Категория товара <span class="red_star">*</span></label>
        <select class="custom-select" formControlName="category" [ngModel]="category">
          <option [ngValue]="0">Мебель</option>
          <option [ngValue]="1">Техника</option>
          <option [ngValue]="2">Книги</option>
          <option [ngValue]="3">Телефоны</option>
          <!-- <option [ngValue]="myCategoryProduct.furniture">IT отдел</option>
          <option [ngValue]="myCategoryProduct.technics">Отдел продаж</option>
          <option [ngValue]="myCategoryProduct.books">Отдел доставки</option>
          <option [ngValue]="myCategoryProduct.phones">Юридический отдел</option> -->
        </select>
      </div>
      <div class="form-group">
        <label for="productweight">Вес <span class="red_star">*</span></label>
        <input
          type="number"
          class="form-control"
          id="productweight"
          placeholder="Введите вес товара..."
          formControlName="weight"
        />
      </div>
      <div class="form-group">
        <label for="productamount">Количество на складе <span class="red_star">*</span></label>
        <input
          type="number"
          class="form-control"
          id="productamount"
          placeholder="Введите количество товара на складе..."
          formControlName="amount"
        />
      </div>
      <button class="btn btn-primary mr-4" [disabled]="productForm.invalid" (click)="onSave()">
        Сохранить
      </button>
      <button class="btn btn-danger" *ngIf="id != null" (click)="onDelete()">Удалить</button>
    </form>
</div>
  