<div class="container-fluid">

  <div class="form-group">
    <label for="productcategory">Фильтр по категориям: </label>
    <select class="custom-select" [(ngModel)]="category">
      <option [ngValue]="-1">Все</option>
      <option [ngValue]="0">Мебель</option>
      <option [ngValue]="1">Техника</option>
      <option [ngValue]="2">Книги</option>
      <option [ngValue]="3">Телефоны</option>
    </select>
  </div>

  <div>
    <input type="checkbox" checked [(ngModel)]="check_status"/>
    <label for="presence">В наличии</label>
  </div>


    <table class="table">

      <thead>
        <tr>
          <th scope="col" width="10%">#</th>
          <th scope="col">Название</th>
          <th scope="col" width="15%">Категория</th>
          <th scope="col" width="15%">Вес(кг)</th>
          <th scope="col" width="10%" class="sortTitle" (click)="LastSortCounter(0)">Цена(руб.)</th>
          <th scope="col" width="2%"></th>
          <th scope="col" width="10%" class="sortTitle" (click)="LastSortCounter(1)">Количество на складе</th>
          <th scope="col" width="2%"></th>
          <th class="text-right" scope="col">
            <button class="btn btn-primary" (click)="onAddProfile()">
              Добавить товар
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products | sort: lastsort: sortType | filter: category: check_status">
          <td scope="row">{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ FindCategoryName(product.category) }}</td>
          <td>{{ product.weight }}</td>
          <td>{{ product.price }}</td>
          <td>
            <button class="btn btn-primary rounded-pill" (click)="onDecreaseAmount(product.id)">
              -
            </button>
          </td>
          <td>
            {{ product.amount }}
          </td>
          <td>
            <button class="btn btn-primary rounded-pill" (click)="onIncreaseAmount(product.id)">
              +
            </button>
          </td>
          <td class="text-right">
            <button class="btn btn-primary" (click)="onLinkProfile(product.id)">
              Редактировать
            </button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
  