<div class="container-fluid">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Название</th>
          <th scope="col">Категория</th>
          <th scope="col">Вес(кг)</th>
          <th scope="col">Цена(руб.)</th>
          <th scope="col">Количество на складе</th>
          <th class="text-right" scope="col">
            <button class="btn btn-primary" (click)="onAddProfile()">
              Добавить товар
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td scope="row">{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.weight }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.amount }}</td>
          <td class="text-right">
            <button class="btn btn-primary" (click)="onLinkProfile(product.id)">
              Редактировать
            </button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
  